@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.app {
  .pricing-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    .pricing-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px;
      background-color: #f7f9ff;
      border-radius: 5px;
      width: 400px;
      height: 100%;
      .level {
        background: #1c1e38;
        width: 100%;
        text-align: center;
        color: white;
      }
      .cta-text-button {
        padding: 15px;
        border-radius: 5px;
        background-color: #7bc5f1;
        border: none;
        width: 140px;
      }
      .features-list {

      }
    }
  }
}